.main-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
}

.container-column
{
    display: flex;
    flex-direction: column;
}

.container-row
{
    display: flex;
    flex-direction: row;
}

.frame-1
{
    display: flex;
    width: 330px;
    padding: 5px 0 5px 0;  
    justify-content: center;
    align-items: center ;
    background-color: rgb(63, 133, 63);
}

.frame-2
{
    display: flex;
    width: 220px; 
    height: 281px; 
    justify-content: center;
    align-items: center ;
    background-color: rgb(170, 185, 34);
}

.button {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    margin: 3px;
    padding: auto;
    justify-content: center;
    align-items: center ;
}

